%article.slide.slide_1
  .inner_slide_container
    .moovweb_main
      .moovweb_macbook_mock
        ARC
      .logo


%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            %b ARC
            rebranded and pooped all over.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1 My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            Creative Director
    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down
    / .animate_fade_base.animate_fade_up.animate_seq_1

            

%article.slide.slide_3
  .inner_slide_container
    .branding_guideline
      .image_container
      .text
        Branding Guideline PDF

%article.slide.slide_4
  .inner_slide_container
    .main_thumb
      .browser_fake_controls
        / .circle.close x
        / .circle.min -
        / .circle.max +
      .info_icon
        .inner_circle
          .dot
          .line
      %a.browser

%article.slide.slide_5
  %h1 P4_Slider_5