%article.slide.slide_1


  .inner_slide_container
    .iphone_container
      .iphone_bcom_container.animate_fade_base.animate_fade_up
      .logo.animate_fade_base.animate_fade_right.animate_seq_1

%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            Re-imagine key aspects of 
            %b Macy's & Bloomingdale’s
            iPhone experiences by utilizing rapid design sprints.  Research, find and enhance core functionalites in the context of pre-purchase, in-store and post purchase scenarios.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1  My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            Lead UI design and product strategy while assisting with the UX design and research. 
            %br
            Utilizied Illustrator & Photoshop for designing the experiencea and InVision to bring the mocks to life.
            %br 
            Collaborators: Pauly Ting — Lead UX Designer
    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down
    
    
%article.slide.slide_3.three_circles_h_P
  .inner_slide_container
    .main_header
      %h3 The Process
    %ul
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c1_full.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Understand & Relate " }
          .circle.c1.animate_fade_base.animate_fade_up
            .click_signal_circle.animate_fade_base.animate_fade_down
          .text_container
            .title.animate_fade_base.animate_fade_down Understand & Relate 
            .text.animate_fade_base.animate_fade_down
              Humanized our efforts by 
              %b re-framing the problems.
              By taking a step back we understood the context better and did a brain-dump of m-commerce and 
              %b real-world retail experiences 
              to get a better undesranding.
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c2_full.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Research & Analyze" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .click_signal_circle.animate_fade_base.animate_fade_down.animate_seq_1
          .text_container
            .title.animate_fade_base.animate_fade_down.animate_seq_1   Research & Analyze Design
            .text.animate_fade_base.animate_fade_down.animate_seq_2  
              Conducted in-person 
              %b interviews with subject matter experts 
              and users. It hepled us distill and analyze key themes and patterns to drive functionality. With all that data we created 
              %b user-personas 
              and user-story workflows.
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c3_full.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Prototype & Iterate" }
          .circle.c3.animate_fade_base.animate_fade_up.animate_seq_2
            .click_signal_circle.animate_fade_base.animate_fade_down.animate_seq_2
          .text_container
            .title.animate_fade_base.animate_fade_down.animate_seq_2  Prototype & Iterate
            .text.animate_fade_base.animate_fade_down.animate_seq_3 
              Defined a clear path to product based on the 
              %b user-story 
              and for each individual story we iterated through 
              %b lo-fi wireframes.
              We built an 
              %b interactive app prototype 
              to test functionalities and gather feedback on the device.


%article.slide.slide_4.phone_displays_in_row_slide
  .inner_slide_container
    %ul
      %li.animate_fade_base.animate_fade_up
        .hover_container
          .hover
            .feature
              .circle
                .icon.i1
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_4_1
      %li.animate_fade_base.animate_fade_up.animate_seq_1
        .hover_container
          .hover
            .feature
              .circle
                .icon.i2
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_4_2
      %li.animate_fade_base.animate_fade_up.animate_seq_2
        .hover_container
          .hover
            .feature
              .circle
                .icon.i3
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_4_3

      %li.animate_fade_base.animate_fade_up.animate_seq_3
        .hover_container
          .hover
            .feature
              .circle
                .icon.i3
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_4_4


%article.slide.slide_5.phone_displays_in_row_slide
  .inner_slide_container
    %ul
      %li.animate_fade_base.animate_fade_up
        .hover_container
          .hover
            .feature
              .circle
                .icon.i1
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_5_1
      %li.animate_fade_base.animate_fade_up.animate_seq_1
        .hover_container
          .hover
            .feature
              .circle
                .icon.i2
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_5_2
      %li.animate_fade_base.animate_fade_up.animate_seq_2
        .hover_container
          .hover
            .feature
              .circle
                .icon.i3
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_5_3
      %li.animate_fade_base.animate_fade_up.animate_seq_3
        .hover_container
          .hover
            .feature
              .circle
                .icon.i4
              .text
                Humanized our efforts by 
                %b re-framing the problems.
                By taking a step back we understood the context better and did a brain-dump of m-commerce and 
                %b real-world retail experiences 
                to get a better undesranding.
          .image.image_5_4