%article.slide.slide_1
  .inner_slide_container
    .iphone_container
      .iphone_bcom_container.animate_fade_base.animate_fade_up
      .logo.animate_fade_base.animate_fade_right.animate_seq_1

%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            A three week design sprint to re-imagince key functionalities of Macys & Bloomingdale’s iPhone apps in a pre-purchase, in-store and post purchase scenarios. 
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1  My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            Being the Lead UI Designer on the project I worked with our Pauly Ting (Lead UX) to explore a multitude of opportunities in the mobile retail context. Narrowing them down through user-testing and stakeholder interviews we managed to craft a compelling user story and delivered it through high-fidelity working prototypes. In the process, I utilized Adobe Illustrator, Adobe Photoshop, HTML5, CSS3, Middleman, InVision

    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down


%article.slide.slide_3.three_circles_h_P
  .inner_slide_container
    .main_header
      %h3 The Process
    %ul
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/interview.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Stakeholder interviews" }
          .circle.c1.animate_fade_base.animate_fade_up
            .click_signal_circle.animate_fade_base.animate_fade_down
          .text_container
            .title.animate_fade_base.animate_fade_down Understand & Relate 
            .text.animate_fade_base.animate_fade_down
              Putting ourselves through in-store and online experiences we understood the context better; it enabled us to effectively 
              %b empathize with the challenges 
              the end users face. Researched most modern m-commerce solutions and 
              %b real-world retail experiences. 
      %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/whiteboard_notes.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Whiteboarding and off-site meeting notes" }
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/user_story_retail_research.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"User Story and m-commerce research" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .click_signal_circle.animate_fade_base.animate_fade_down.animate_seq_1
          .text_container
            .title.animate_fade_base.animate_fade_down.animate_seq_1   Research & Analyze
            .text.animate_fade_base.animate_fade_down.animate_seq_2  
              Created 
              %b user-personas and user-story 
              workflows by conducting in-person 
              %b interviews 
              with subject matter experts and current users. Managed to very easily distill and 
              %b analyze key themes and patterns 
              to drive select functionalities.
      %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/user_personas.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"User Personas" }
      %li
        %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/workshop_explain.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Educational workshop on native apps" }
          .circle.c3.animate_fade_base.animate_fade_up.animate_seq_2
            .click_signal_circle.animate_fade_base.animate_fade_down.animate_seq_2
          .text_container
            .title.animate_fade_base.animate_fade_down.animate_seq_2  Prototype & Iterate
            .text.animate_fade_base.animate_fade_down.animate_seq_3 
              Built an 
              %b interactive prototype 
              with a defined path to product based on the user-stories. Tested and iterated all ideas through 
              %b lo-fi wireframes
              in a mobile device. We also hosted a 
              %b educational workshops
              on modern mobile practices and design team structures. 
      %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/workshop.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Hands on workshop" }
      %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/sketches.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Sketching an idea for featuring product attributes" }
      %a.anchor_container.fancybox-thumb{"href"=>"images/mcom_bcom/process/sketches_2.png",  "rel"=>"fancybox-thumb-mcom", "title"=>"Sketching the color picker for PDP" }





%article.slide.slide_4.phone_displays_in_row_slide
  .inner_slide_container
    %ul
      %li.animate_fade_base.animate_fade_up
        .hover_container.hover_active
          .hover
            .feature
              .text_container
                %p 
                  A clutter free Home-screen with a clear eye path and a digestible overview
                %ul
                  %li
                    Full-screen advertising to allow a thematic experience
                  %li
                    One tap access to Search, Scan, Shop and other prioritized CTAs
                  %li
                    Personalized content based on the users bio and shopping preferences
          .image.image_5_1
     
      %li.animate_fade_base.animate_fade_up.animate_seq_1
        .hover_container.hover_active
          .hover
            .feature
              .text_container
                %p 
                  Each lookbook contains an easy to browse outfit layout for the user to pick from
                %ul
                  %li
                    A flat heirarchy that provides a more intuitive navigation
                  %li
                    Breaks content into bite-size pieces to prevent disorientation
                  %li
                    Contextually aware content for a richer in-store experience
          .image.image_5_2
      
      %li.animate_fade_base.animate_fade_up.animate_seq_2
        .hover_container
          .image.image_5_3
      
      %li.animate_fade_base.animate_fade_up.animate_seq_3
        .hover_container.hover_active
          .hover
            .feature
              .text_container
                %p 
                  Neatly organized Product Display Page with a focus on imagery and functional personalization
                %ul
                  %li
                    Incorporating a full-screen image gallery with embedded videos
                  %li
                    Elevating key information outside of accordons for easy access
                  %li
                    Indicating in-store availability and product suggestions
          .image.image_5_4


%article.slide.slide_5.phone_displays_in_row_slide
  .inner_slide_container
    %ul
      %li.animate_fade_base.animate_fade_up
        .hover_container.hover_active
          .hover
            .feature
              .text_container
                %p 
                  The home screen introduces lookbooks, a more editorial approach to m-commerce. Highly personalized content keeps the user coming back to the app.
                %ul
                  %li
                    Search/scan is minimized in an editorial and lookbook experience
                  %li
                    Each content block is a link to a campaign, lookbook, PDP or editorial content item
                  %li
                    Use of large full screen visuals with color, depth, clarity, and visual detail
          .image.image_4_1
      %li.animate_fade_base.animate_fade_up.animate_seq_1
        .hover_container
          .image.image_4_2
      %li.animate_fade_base.animate_fade_up.animate_seq_2
        .hover_container
          .image.image_4_3

      %li.animate_fade_base.animate_fade_up.animate_seq_3
        .hover_container
          .image.image_4_4



%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right Conclusion
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            The design strategy and prototype was well received by Macy's stakeholders and we were subsequently engaged into the next stage of the project.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1  Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            Being the Lead UI Designer on the project I worked with our Pauly Ting (Lead UX) to explore a multitude of opportunities in the mobile retail context.

    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down
