%article.slide.slide_1
  .inner_slide_container
    .moovweb_main
      .moovweb_macbook_mock
      .logo


%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            I was the 7th employee at
            %b Moovweb
            for about 2.5 years. Being part of a rapidly growing startup that scaled to 120 employees and closed two successful rounds of investment was a humbling experience.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1 My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            I wore many hats at Moovweb. Started off as a Mobile Web Developer but promoted to Lead Mobile Developer a year later. Soon after I was the Interactive Designer with the brand and marketing team which led me to the Creative Director role and took ownership of the brand. 


%article.slide.slide_3.pdf_link_module_slide
  .inner_slide_container
    .slide_title_container.max_600
      %h3.slide_title
        Moovweb Branding Guideline
        %span.sub_slide_title  Establishing consistency and quality
    %a.pdf_link_module{"href"=>"assets/moovweb_branding_guideline.pdf", "target"=>"_blank"}
      .pdf_link_module_icon
      .info_icon
        .inner_circle
          .dot
          .line



%article.slide.slide_4
  .inner_slide_container
    .main_thumb
      .browser_fake_controls
      .info_icon
        .inner_circle
          .dot
          .line
      %a.browser.fancybox-thumb{"href"=>"images/moovweb/corp_site/pricing.jpg", "rel"=>"fancybox-moovweb-corp-site", "title"=>"Pricing verticals" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/case_studies.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Individual project showcases" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/partners.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Platform partner's page" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/product_page.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Product Overview" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog_0.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Blog's article feed" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Individual blog post" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/corporate_site.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Corporate Site's Homepage" }


%article.slide.slide_6.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        / %li.first
        /   %span.c_1.header.animate_fade_base.animate_fade_right
        /     %span.icon.conclusion_icon
        /     %span.text Conclusion
        /   %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_2
            %span.icon.learnings_icon
            %span.text Learnings & Footnotes:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            At Moovweb I became a multi-disciplinary designer with production level coding experience and knowledge. I gained a tremendous amount of insights on how design can influences different parts of a business. And how important of a role design plays in the company's overall culture. 
            %br
            %br
            Thankful for all the great people I worked with and the great times we shared.