%article.slide.slide_1
  .inner_slide_container
    .moovweb_main
      .moovweb_macbook_mock
      .logo


%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .cover_container
      %ul
        %li.first
          %span.c_1.header.animate_fade_base.animate_fade_right About the project:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_1
            %b Moovweb
            rebranded and pooped all over.
        %li.second
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_1 My Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_2
            Creative Director
    .right_content_block
      .image.animate_fade_base.animate_seq_2
      .line.animate_fade_base.animate_fade_down
    / .animate_fade_base.animate_fade_up.animate_seq_1

            


%article.slide.slide_3.pdf_link_module_slide
  .inner_slide_container
    %a.pdf_link_module{"href"=>"#iOS_App_Macys"}
      .pdf_link_module_icon


%article.slide.slide_4
  .inner_slide_container
    .main_thumb
      .browser_fake_controls
      .info_icon
        .inner_circle
          .dot
          .line
      %a.browser.fancybox-thumb{"href"=>"images/moovweb/corp_site/pricing.jpg", "rel"=>"fancybox-moovweb-corp-site", "title"=>"Homepage" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/case_studies.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Building Category's Landing Page" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/partners.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Inside the building slideshow" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/product_page.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Navigation on hover" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog_0.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Gallery view" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/blog.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Gallery view" }
      %a.fancybox-thumb{"href"=>"images/moovweb/corp_site/corporate_site.jpg",  "rel"=>"fancybox-moovweb-corp-site", "title"=>"Corporate Site's Homepage" }

%article.slide.slide_5
  %h1 P4_Slider_5