%article.slide.slide_1
  %h1 P1_Slider_1

%article.slide.slide_2
  %h1.animate_fade_base.animate_seq_1
    P1_Slider_2
  %h1.animate_fade_base.animate_fade_left.animate_seq_2
    header_two
  %h1.animate_fade_base.animate_fade_right.animate_seq_3
    header_three
  %h1.animate_fade_base.animate_fade_down.animate_seq_4
    header_four
  %h1.animate_fade_base.animate_fade_up.animate_seq_5
    header_five

%article.slide.slide_3
  .inner_slide_container
    .box.animate_fade_base.animate_fade_up
    %h1.animate_fade_base.animate_fade_down P1_Slider_3
%article.slide.slide_4
  %h1 P1_Slider_4
%article.slide.slide_5
  %h1 P1_Slider_5