%article.slide.slide_1
  .inner_slide_container
    .iphone_container
      .iphone_bcom_container.animate_fade_base.animate_fade_up.animate_seq_1
      .logo.animate_fade_base.animate_fade_right.animate_seq_2

%article.slide.slide_2
  .inner_slide_container
    .left_content_block
      %ul.line
        %li.animate_fade_base.animate_fade_down.animate_seq_1
          .line
          .circle
        %li.animate_fade_base.animate_fade_down.animate_seq_2
          .line
          .circle
        %li.animate_fade_base.animate_fade_down.animate_seq_3
          .line
          .circle
      %ul.text
        %li
          %span
            %span.header.animate_fade_base.animate_fade_right.animate_seq_2 Brief:
            %span.body.animate_fade_base.animate_fade_right.animate_seq_3
              Re-inventing the mobile experience for two heritage American brands in a 3 week timeline
        %li
          %span
            %span.header.animate_fade_base.animate_fade_right.animate_seq_3 Role:
            %span.body.animate_fade_base.animate_fade_right.animate_seq_4
              Leading all the visual design efforts while assisting with user experience and user strategy
        %li.animate_fade_base.animate_fade_right.animate_seq_4
          %span
            %span.header Credits:
            %span.body
              Pauly Ting — Lead UX Designer
    .right_content_block.animate_fade_base.animate_fade_up.animate_seq_1
    
%article.slide.slide_3
  .inner_slide_container
    %ul
      %li
        .circle.animate_fade_base.animate_fade_right.animate_seq_1 1
        .title.animate_fade_base.animate_fade_right.animate_seq_2 Understand & Relate 
        .text.animate_fade_base.animate_fade_right.animate_seq_3 Humanizing our efforts by re-framing the problems and asking - "What do people really want?"
        .image.animate_fade_base.animate_fade_down.animate_seq_4
      %li
        .circle.animate_fade_base.animate_fade_right.animate_seq_1 2
        .title.animate_fade_base.animate_fade_right.animate_seq_2 Research & Analyze Design
        .text.animate_fade_base.animate_fade_right.animate_seq_3 Humanizing our efforts by re-framing the problems and asking - "What do people really want?"
        .image.animate_fade_base.animate_fade_down.animate_seq_3
      %li
        .circle.animate_fade_base.animate_fade_right.animate_seq_1 3
        .title.animate_fade_base.animate_fade_right.animate_seq_2 Prototype & Iterate
        .text.animate_fade_base.animate_fade_right.animate_seq_3 Humanizing our efforts by re-framing the problems and asking - "What do people really want?"
        .image.animate_fade_base.animate_fade_down.animate_seq_2

%article.slide.slide_4
  %h1.animate_fade_base.animate_fade_up P1_Slider_4

%article.slide.slide_5
  %h1.animate_fade_base.animate_fade_up P1_Slider_5






