%article.slide.slide_1
  %h1.animate_fade_base.animate_fade_up P1_Slider_1

%article.slide.slide_2
  %h1.animate_fade_base.animate_fade_right.animate_seq_1
    Building Section
  %h1.animate_fade_base.animate_fade_right.animate_seq_2
    Art Section
  %h1.animate_fade_base.animate_fade_right.animate_seq_3
    Education Section
  %h1.animate_fade_base.animate_fade_right.animate_seq_4
    Experience Section
  %h1.animate_fade_base.animate_fade_right.animate_seq_5
    Get Involved Section

%article.slide.slide_3
  .inner_slide_container
    .box.animate_fade_base.animate_fade_up.animate_seq_1
    .box.animate_fade_base.animate_fade_right.animate_seq_2
    .box.animate_fade_base.animate_fade_left.animate_seq_3
    .box.animate_fade_base.animate_fade_up.animate_seq_4
    %h1.animate_fade_base.animate_fade_down.animate_seq_5 P1_Slider_3

%article.slide.slide_4
  %h1.animate_fade_base.animate_fade_up P1_Slider_4

%article.slide.slide_5
  %h1.animate_fade_base.animate_fade_up P1_Slider_5






