%article.slide.slide_1
  .inner_slide_container
    .art_work_holder.animate_fade_base.animate_fade_down.animate_seq_2
    .attribution
      Alexander Calder, Double Gong, 1953; metal and paint; The Doris and Donald Fisher Collection at SFMOMA; © 2010 Calder Foundation, New York/Artists Rights Society (ARS), New York; photo: Ian Reeves | Image Credit: sfmoma.org
%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .list_with_circles_container
      %ul
        %li
          %span.c_1.header.animate_fade_base.animate_fade_right.animate_seq_2 Brief:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            Create an adaptive microsite to describe and celebrate the new SFMOMA. A new stand-alone site is required that can translate and highlight particular elements within the museum’s transformational story for focused exploration.
        %li
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_3 Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_4
            Lead product designer, market research, information architicture, visual designer.  Also dabbled in the front-end code setup proper transitions.
        %li.animate_fade_base.animate_fade_right.animate_seq_4
          %span.c_3.header.animate_fade_base.animate_fade_right.animate_seq_3  Tools:
          %span.body
            Illustrator, Photoshop and After Effects for designing the experiences and InVision to prototype the infrastructure of the site.
        %li.animate_fade_base.animate_fade_right.animate_seq_4
          %span.c_4.header.animate_fade_base.animate_fade_right.animate_seq_3  Collaborators:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3 
            Kier Winesmith - Head of Digital Media
            %br
            Bosco Hernandez - Art Director



%article.slide.slide_3
  %h1 P2_Slider_3
%article.slide.slide_4
  %h1 P2_Slider_4
%article.slide.slide_5
  %h1 P2_Slider_5