%article.slide.slide_1
  .inner_slide_container
    .art_work_holder.animate_fade_base.animate_fade_down.animate_seq_2
    .attribution
      Alexander Calder, Double Gong, 1953; metal and paint; The Doris and Donald Fisher Collection at SFMOMA; © 2010 Calder Foundation, New York/Artists Rights Society (ARS), New York; photo: Ian Reeves | Image Credit: sfmoma.org
%article.slide.slide_2.cover_page_slide
  .inner_slide_container
    .list_with_circles_container
      %ul
        %li
          %span.c_1.header.animate_fade_base.animate_fade_right.animate_seq_2 Brief:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3
            Create an adaptive microsite to describe and celebrate the new 
            %b San Francisco Muesuem Of Modern Art. 
            A new stand-alone site is required that can translate and highlight particular elements within the museum’s transformational story for focused exploration.
        %li
          %span.c_2.header.animate_fade_base.animate_fade_right.animate_seq_3 Role:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_4
            Lead product designer, market research, information architicture, visual designer.  Also dabbled in the front-end code setup proper transitions.
        %li.animate_fade_base.animate_fade_right.animate_seq_4
          %span.c_3.header.animate_fade_base.animate_fade_right.animate_seq_3  Tools:
          %span.body
            Illustrator, Photoshop and After Effects for designing the experiences and InVision to prototype the infrastructure of the site.
        %li.animate_fade_base.animate_fade_right.animate_seq_4
          %span.c_4.header.animate_fade_base.animate_fade_right.animate_seq_3  Collaborators:
          %span.body.animate_fade_base.animate_fade_right.animate_seq_3 
            Kier Winesmith - Head of Digital Media
            %br
            Bosco Hernandez - Art Director
    
%article.slide.slide_3.three_circles_h_P
  .inner_slide_container
    %ul
      %li
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c1_full.png",  "rel"=>"fancybox-thumb", "title"=>"Inforamtion Architicture" }
          .circle.c1.animate_fade_base.animate_fade_up
            .inner_circle.animate_fade_base.animate_fade_down.animate_seq_1 X
        .title.animate_fade_base.animate_fade_down.animate_seq_2  Inforamtion architicture
        .text.animate_fade_base.animate_fade_down.animate_seq_3  
          Humanized our efforts by 
          %b re-framing the problems.
          By taking a step back we understood the context better and did a brain-dump of m-commerce and 
          %b real-world retail experiences 
          to get a better undesranding.
      %li
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c2_full.png",  "rel"=>"fancybox-thumb", "title"=>"Wireframing Prototypes" }
          .circle.c2.animate_fade_base.animate_fade_up.animate_seq_1
            .inner_circle.animate_fade_base.animate_fade_down.animate_seq_1  X
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c2_full.png",  "rel"=>"fancybox-thumb", "title"=>"Wireframing Prototypes" }
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c2_full.png",  "rel"=>"fancybox-thumb", "title"=>"Wireframing Prototypes" }
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c2_full.png",  "rel"=>"fancybox-thumb", "title"=>"Wireframing Prototypes" }
        .title.animate_fade_base.animate_fade_down.animate_seq_2  wireframing prototypes
        .text.animate_fade_base.animate_fade_down.animate_seq_3   
          Conducted in-person 
          %b interviews with subject matter experts 
          and users. It hepled us distill and analyze key themes and patterns to drive functionality. With all that data we created 
          %b user-personas 
          and user-story workflows.
      %li
        %a.fancybox-thumb{"href"=>"images/sfmoma/slide_3_c3_full.png",  "rel"=>"fancybox-thumb", "title"=>"Design Guidelines" }
          .circle.c3.animate_fade_base.animate_fade_up.animate_seq_2
            .inner_circle.animate_fade_base.animate_fade_down.animate_seq_1  X
        .title.animate_fade_base.animate_fade_down.animate_seq_2  design guidelines
        .text.animate_fade_base.animate_fade_down.animate_seq_3   
          Defined a clear path to product based on the 
          %b user-story 
          and for each individual story we iterated through 
          %b lo-fi wireframes.
          We built an 
          %b interactive app prototype 
          to test functionalities and gather feedback on the device.

%article.slide.slide_4
  .inner_slide_container 
    / %iframe{"width"=>"100%", "height"=>"100%", "src"=>"//www.youtube.com/embed/cdLl1GVjOrc?rel=0&autoplay=1", "frameborder"=>"0", "allowfullscreen"=>" "}
 
 
%article.slide.slide_5
  %h1 P2_Slider_5