#fullpage
  .project_5
    .slide_1
      .arc_main
        .arc_phone
          width: 330px
          height: 550px
          margin: auto
          +background-image(image-url("arc/main_arc_phone.png"))
          background-repeat: no-repeat
          background-size: 100%

    .slide_3
      .pdf_link_module
        +background-image(image-url("arc/submission_pdf_thumb.jpg"))
        background-repeat: no-repeat
        background-size: 100%
