html
  &.wf-loading, &.wf-inactive
    body 
      .main_paragraph h1
        color: transparent !important
        text-shadow: none !important
        margin-top: 0 !important
      .social_media_links
        opacity: 0 !important
        margin-top: 0 !important
             
+breakpoint(all_but_mobile)
  #fullpage
    .project_0
      width: 100%
      height: 100%
      background-color: $oj_blue
      +background(image-url("fancy/loading_spinner_v2.gif"))
      .slide_1
        +background(image-url("bio/omar_jalalzada_bg_v8.jpg"))
        background-repeat: no-repeat
        background-size: cover
        background-position: fixed
        width: 100%
        height: 100%
        .inner_slide_container
          overflow: hidden
          height: 100%
          width: 100%
          +background(image-url("ui_elements/dots_v2.png"))
          background-color: rgba(0,0,0,0.3)
          .main_bio_container
            .bio_content_holder
              max-width: 450px
              margin: 0 auto
              margin-left: 15%
              margin-top: 15%
              width: 60%
              .main_paragraph
                border: 1px solid transparent
                h1
                  display: block
                  color: #fff
                  line-height: 1.6
                  font-weight: 100
                  text-shadow: 0 1px 1px rgba(0,0,0,0.2)
                  font-size: 130%
                  margin: 0
                  margin-top: 10px
                  +single-transition(all, .3s, $custom_ease, .2s)
                  span
                    display: block
                    margin-bottom: 15px
                  .mobile_spiel
                    display: none
              .social_media_links
                margin-top: 20px
                +single-transition(all, .2s, $custom_ease, 1s)
                .sm_inner
                  overflow: hidden
                  .sm_link
                    width: 30px
                    height: 30px
                    margin: 2px
                    margin-right: 10px
                    +box-shadow(0 0 0 1px rgba(255,255,255,.4))
                    +border-radius(20px)
                    float: left
                    padding: 5px
                    +single-transition(all, .1s, $custom_ease)
                    &:hover 
                      background-color: rgba(255,255,255,.4)
                      +box-shadow(0 2px 1px rgba(0,0,0,.2))
                    .icon
                      +background-image(image-url("ui_elements/social_bio_icons.png"))
                      background-repeat: no-repeat
                      background-size: 150px 30px
                      width: 30px
                      height: 30px
                      float: left
                      &.dribbble
                        background-position-x: -30px
                      &.linkedin
                        background-position-x: -60px
                      &.twitter
                        background-position-x: -90px
                      &.vsco
                        background-position-x: -120px
                    &.portfolio 
                      width: 110px
                      color: #fff
                      font-weight: bold
                      line-height: 1.9
                      +background-image(none)
                    .icon
                      margin-right: 5px

+breakpoint(portrait_phone)
  html
    // overflow: scroll !important
    height: auto !important
  body
    min-width: 200px !important
    height: auto !important
    background-color: $oj_blue
  #fullpage
    // overflow: scroll !important
    height: auto !important
    .project_0
      width: 100%
      // height: 100%
      background-color: $oj_blue
      .slide_1
        .inner_slide_container
          .main_bio_container
            .bio_content_holder
              .main_paragraph
                h1
                  display: block
                  color: #fff
                  padding: 20px
                  font-size: 120%
                  margin: 0
                  font-weight: 300
                  span
                    display: block
                    margin-bottom: 10px
                  .spiel
                    display: none
      .social_media_links
        margin-top: 0
        +single-transition(all, .2s, $custom_ease, 1s)
        .sm_inner
          overflow: hidden
          width: 180px
          margin: auto
          padding: 0 10px
          .sm_link
            width: 100%
            height: 30px
            +border-radius(30px)
            padding: 5px 0
            margin: 10px 0
            display: block
            color: #fff
            font-weight: bold
            line-height: 2.2
            border: 1px solid rgba(255,255,255,.2)
            +background-image(none)
            &.portfolio
              display: none
            &:hover 
              background-color: rgba(255,255,255,.4)
              border: 1px solid transparent
            .icon
              +background-image(image-url("ui_elements/social_bio_icons.png"))
              background-repeat: no-repeat
              background-size: 150px 30px
              width: 30px
              height: 30px
              float: left
              margin-left: 10px
              margin-right: 10px
              &.dribbble
                background-position-x: -30px
              &.linkedin
                background-position-x: -60px
              &.twitter
                background-position-x: -90px
              &.vsco
                background-position-x: -120px

    .project_1, .project_2, .project_3, .project_4, .project_5
      display: none