#fullpage
  .project_0
    width: 100%
    .slide_1
      +background(image-url("bio/omar_jalalzada_bg_v4.jpg"))
      background-repeat: no-repeat
      background-size: cover
      background-position: fixed
      // +breakpoint(landscape_ipad)
      //   background-position-x: -400px
      // +breakpoint(portrait_ipad)
      //   background-position-x: -600px
      width: 100%
      background-color: $oj_blue
      .inner_slide_container
        overflow: hidden
        height: 100%
        width: 100%
        +background(image-url("ui_elements/dots_v2.png"))
        background-color: rgba(0,0,0,0.3)
        .main_bio_container
          .bio_content_holder
            max-width: 450px
            margin: 0 auto
            margin-left: 15%
            margin-top: 180px
            width: 60%
            .main_paragraph
              h1
                display: block
                color: #fff
                line-height: 1.6
                font-weight: 100
                text-shadow: 0 1px 1px rgba(0,0,0,0.2)
                font-size: 130%
            .social_media_links
              .sm_inner
                overflow: hidden
                .sm_link
                  width: 30px
                  height: 30px
                  margin-right: 10px
                  border: 1px solid rgba(255,255,255,.2)
                  +border-radius(20px)
                  float: left
                  padding: 5px
                  &:hover 
                    background-color: rgba(255,255,255,.4)
                    border: 1px solid transparent
                  .icon
                    +background-image(image-url("ui_elements/social_bio_icons.png"))
                    background-repeat: no-repeat
                    background-size: 150px 30px
                    width: 30px
                    height: 30px
                    float: left
                    &.dribbble
                      background-position-x: -30px
                    &.linkedin
                      background-position-x: -60px
                    &.twitter
                      background-position-x: -90px
                    &.vsco
                      background-position-x: -120px
                  &.portfolio 
                    width: 110px
                    color: #fff
                    font-weight: bold
                    line-height: 1.9
                    +background-image(none)
                  .icon
                    margin-right: 5px