#fullpage
  .project_1
    .slide_1
      .inner_slide_container
        position: relative
      .iphone_container
        overflow: hidden
        position: relative
        max-width: 1024px
        margin: 0 auto
        .iphone_bcom_container
          width: 45%
          max-width: 255px
          height: 590px
          background-color: #ddd
          margin: auto 45% auto auto
          z-index: 2
          position: relative
          +background(image-url("mcom_bcom/2_iphone_bcom_main.png"))
          background-repeat: no-repeat
          background-size: 100%
        .logo
          width: 50%
          height: 140px
          position: absolute
          top: 50%
          left: 50%
          margin-left: -24%
          z-index: 1
          +background(image-url("mcom_bcom/2_main_logo.png"))
          background-repeat: no-repeat
          background-size: 100%

          // margin: -250px auto 0 auto


    .slide_2
      +background(image-url("mcom_bcom/2_bg_cover.png"))
      background-repeat: no-repeat
      background-attachment: fixed
      background-size: cover
      .inner_slide_container
        .left_content_block
        .right_content_block
          width: 650px
          height: 500px
          float: right
          +background(image-url("mcom_bcom/2_iphone_isometric_bcom.png"))
          background-repeat: no-repeat
          background-size: 100%
          margin-top: 250px
          margin-right: 100px



    .slide_3
      .inner_slide_container
        max-width: 1200px
        margin: 0 auto
        ul
          +display-box
          +box-orient(horizontal)
          +box-align(stretch)
          li
            +box-flex(1)
            padding: 0 40px
            font-size: 18px
            text-align: center
            .circle
              width: 350px
              height: 350px
              border-radius: 50%
              background-color: #ddd
              margin: auto auto 20px auto
              position: relative
              &.c1
                +background(image-url("mcom_bcom/3_1_image_circle.png"))
                background-repeat: no-repeat
                background-size: 100%
              &.c2
                +background(image-url("mcom_bcom/3_2_image_circle.png"))
                background-repeat: no-repeat
                background-size: 100%
              &.c3
                +background(image-url("mcom_bcom/3_3_image_circle.png"))
                background-repeat: no-repeat
                background-size: 100%
              .inner_circle
                width: 40px
                height: 40px
                text-align: center
                border-radius: 50%
                background-color: $oj_blue
                color: white
                line-height: 3
                font-size: 14px
                position: absolute
                bottom: -20px
                left: 50%
                margin-left: -30px
                font-weight: bold
            .title
              font-size: $sh_fs
              font-weight: bold
              text-transform: uppercase
              margin: 60px auto 10px auto
            .text
              margin-bottom: 25px
              font-size: $p_fs
              color: $p_c
              line-height: 1.6

    
    .slide_4
      .inner_slide_container
        .hover_container
          .image
            &.image_4_1
              +background(image-url("mcom_bcom/4_1_bloomindales_homepage_iphone5s.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_4_2
              +background(image-url("mcom_bcom/4_2_bloomindales_look_iphone5s.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_4_3
              +background(image-url("mcom_bcom/4_3_bloomindales_look_iphone5s.png"))
              background-repeat: no-repeat
              background-size: 100%

            &.image_4_4
              +background(image-url("mcom_bcom/4_4_bloomindales_inside_look_iphone5s.png"))
              background-repeat: no-repeat
              background-size: 100%



    .slide_5 
      .inner_slide_container
        .hover_container
          .image
            &.image_5_1
              +background(image-url("mcom_bcom/5_1_macys_homepage_iphone5c.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_2
              +background(image-url("mcom_bcom/5_2_macys_category_list_iphone5c.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_3
              +background(image-url("mcom_bcom/5_3_macys_product_list_iphone5c.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_4
              +background(image-url("mcom_bcom/5_4_macys_product_display_iphone5c.png"))
              background-repeat: no-repeat
              background-size: 100%


