#fullpage
  .project_4
    .slide_1
      .inner_slide_container
        .moovweb_main
          max-width: $custom_max_width
          margin: 0 auto
          // border: 1px solid green
          .moovweb_macbook_mock
            width: 800px
            height: 460px
            // border: 1px solid red
            +background-image(image-url("moovweb/main_moovweb_site.png"))
            background-repeat: no-repeat
            background-size: 100%
            margin: auto

    .slide_3
      .branding_guideline
        width: 620px
        height: 465px
        margin: auto
        border: 1px solid gold
    

    .slide_4
      .main_thumb
        position: relative
        width: 720px
        height: 480px
        margin: auto
        border: 1px solid $oj_light_grey
        +border-radius(6px)
        overflow: hidden
        padding: 34px 0 0
        cursor: pointer
        .browser_fake_controls
          width: 46px
          height: 14px
          opacity: .9
          position: absolute
          top: 12px
          left: 12px
          +background-image(image-url("moovweb/browser_controls.png"))
          background-repeat: no-repeat
          background-size: 100%
          // .circle
          //   width: 14px
          //   height: 14px
          //   +border-radius(50%)
          //   background-color: grey
          //   float: left
          //   margin-right: 10px
        &:hover
          border: 1px solid $oj_grey
          .info_icon          
            // opacity: .8
        .info_icon
          // right: 14px
        bottom: 10px
          // left: auto
          // margin: 0 0 -20px 0
        a.browser
          display: block
          width: 100%
          height: 100%
          +background-image(image-url("sfmoma/designs/1_homepage.jpg"))
          // border: 2px solid #777777
          // +border-radius(3px)
          background-repeat: no-repeat
          background-size: 100%
