#fullpage
  .project_1


    .slide_1
      .iphone_container
        overflow: hidden
        position: relative
        max-width: 1024px
        margin: 0 auto
        .iphone_bcom_container
          width: 45%
          max-width: 255px
          height: 590px
          background-color: #ddd
          margin: auto 45% auto auto
          z-index: 2
          position: relative
          +background(image-url("mcom_bcom/2_iphone_bcom_main.png"))
          background-repeat: no-repeat
          background-size: 100%
        .logo
          width: 50%
          height: 140px
          position: absolute
          top: 55%
          left: 50%
          margin-left: -24%
          z-index: 1
          +background(image-url("mcom_bcom/2_main_logo.png"))
          background-repeat: no-repeat
          background-size: 100%

          // margin: -250px auto 0 auto


    .slide_2
      +background(image-url("mcom_bcom/2_bg_cover.png"))
      background-repeat: no-repeat
      background-attachment: fixed
      background-size: cover
      .inner_slide_container
        height: 100%
        .left_content_block
          color: #fff
          float: left
          width: 340px
          height: 480px
          margin-left: 200px
          overflow: hidden
          ul.line
            display: block
            width: 40px
            height: 100%
            float: left
            li
              display: block
              width: 40px
              display: block
              .line
                height: 110px
                width: 1px
                margin-left: 19px
                display: block
                background-color: #fff
              .circle 
                width: 40px
                height: 40px
                display: block
                border: 1px solid white
                border-radius: 50%
          ul.text
            float: right
            display: block
            width: 270px
            padding-top: 118px
            padding-left: 10px
            li 
              height: 152px
              .header 
                text-transform: uppercase
                font-weight: bold
                display: block
                font-size: $sh_fs
                margin-bottom: 10px
              .body
                font-size: $p_fs
        .right_content_block
          width: 650px
          height: 500px
          float: right
          +background(image-url("mcom_bcom/2_iphone_isometric_bcom.png"))
          background-repeat: no-repeat
          background-size: 100%
          margin-top: 250px
          margin-right: 100px
        


    .slide_3
      .inner_slide_container
        max-width: 1024px
        margin: 0 auto
        ul
          +display-box
          +box-orient(horizontal)
          +box-align(stretch)
          li
            +box-flex(1)
            padding: 0 40px
            font-size: 18px
            .circle 
              padding: 25px
              width: 10px
              height: 10px
              border-radius: 50%
              margin-bottom: 30px
              background-color: $oj_blue
              color: white
              line-height: .8
              font-size: 14px
            .title
              font-size: $sh_fs
              font-weight: bold
              text-transform: uppercase
              margin-bottom: 10px
            .text
              margin-bottom: 25px
              font-size: $p_fs
              color: $p_c
              line-height: 1.6
            .image
              height: 300px
              width: 100%
              background-color: #eee

      

    .phone_displays_in_row
      .inner_slide_container
        margin: 0 auto
        display: block
        max-width: 1224px
        ul
          +display-box
          +box-orient(horizontal)
          +box-align(stretch)
          li
            +box-flex(1)
            .hover_container 
              width: 100%
              height: 100%
              position: relative
              overflow: hidden
              .hover 
                position: absolute
                display: block
                height: 600px
                width: 100%
                background-color: rgba(255,255,255,0.98)
                z-index: 1000
                top: 10px
                left: 0
                opacity: 0
                .feature
                  text-align: center
                  margin-top: 60px
                  .circle
                    width: 40px
                    height: 40px
                    margin: 20px auto
                    border-radius: 50%
                    border: 1px solid #ddd
                    +translateY(10px)
                    +single-transition(all, .2s, cubic-bezier(.5,0,.5,.99))
                  .text
                    padding: 0 50px
                    font-size: 14px
                    
                    +translateY(10px)
                    +single-transition(all, .4s, cubic-bezier(.5,0,.5,.99))
                  .first
                  .second
                    +transition-delay(.1s) 
                  .third
                    +transition-delay(.2s) 
                &.active 
                  top: 0
                  opacity: 1
                  +single-transition(all, .3s, ease-in)
                  .circle 
                    +translateY(0px)
                  .text
                    +translateY(0px)

              .image 
                max-width: 285px
                height: 600px
                margin: 0 auto
                background-color: #eee
                z-index: 50
                position: relative

    .slide_4 
      .inner_slide_container
        .hover_container
          .image
            &.image_4_1
              +background(image-url("mcom_bcom/2_iphone_front_bcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_4_2
              +background(image-url("mcom_bcom/2_iphone_front_bcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_4_3
              +background(image-url("mcom_bcom/2_iphone_front_bcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_4_4
              +background(image-url("mcom_bcom/2_iphone_front_bcom.png"))
              background-repeat: no-repeat
              background-size: 100%

    .slide_5
      .inner_slide_container
        .hover_container
          .image
            &.image_5_1
              +background(image-url("mcom_bcom/5_1_iphone_front_mcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_2
              +background(image-url("mcom_bcom/5_1_iphone_front_mcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_3
              +background(image-url("mcom_bcom/5_1_iphone_front_mcom.png"))
              background-repeat: no-repeat
              background-size: 100%
            &.image_5_4
              +background(image-url("mcom_bcom/5_1_iphone_front_mcom.png"))
              background-repeat: no-repeat
              background-size: 100%




