body 
  font-family: "museo-sans",sans-serif
#fullpage
  .section
    .slides
      h1 
        font-weight: 100
        width: 400px
        margin: 0 auto
        color: #888
        text-align: left
        text-transform: uppercase
