@import compass/css3

#main_section_nav
  display: block
  position: absolute
  height: 300px
  top: 50%
  left: 0
  margin-top: -150px
  z-index: 9999
  padding: 0
  li 
    margin-top: 7px
    margin-left: 20px
    display: block
    height: 50px
    width: 40px
    line-height: 0.7
    a
      white-space: nowrap
      word-break: keep-all
      text-decoration: none
      display: block
      background-color: #ddd
      width: 5px
      height: 100%
      line-height: 3.3
      overflow: hidden
      text-indent: 10px
      +transition-property(all)
      +transition-duration(.4s)
      +transition-timing-function(eastOut)
      color: #555

    &.active
      a 
        font-weight: bold
        background-color: #aaa
        color: #333

    &:hover 
      +transition-property(all)
      +transition-duration(.2s)
      +transition-timing-function(cubic-bezier(0.94, 0.06, 0.50, 0.95))
      width: 180px
      & > a 
        width: auto
        text-indent: 15px
