// Left side section navigation
#main_section_nav
  display: block
  position: absolute
  height: 300px
  top: 50%
  left: 0
  margin-top: -150px
  z-index: 9999
  padding: 0
  li 
    margin-top: 10px
    margin-left: 30px
    display: block
    height: 35px
    width: 50px
    line-height: .7
    opacity: .7

    a
      white-space: nowrap
      word-break: keep-all
      text-decoration: none
      display: block
      background-color: $oj_light_grey
      width: 1px
      height: 100%
      font-size: 14px
      line-height: 2.5
      overflow: hidden
      text-indent: 10px
      color: #555
      +transition-property(text-indent, width)
      +transition-duration(.3s)
      +transition-timing-function(ease-out)

    &.active
      opacity: 1
      a 
        font-weight: bold
        background-color: $oj_blue
        color: #fff !important
        width: 2px
        
        
    &:hover
      opacity: 1
      +single-transition(all, .3s, cubic-bezier(0.94, 0.06, 0.50, 0.95))
      width: 160px
      &.first_project 
        width: 210px
      &.second_project 
        width: 100px
      &.third_project 
        width: 290px
      & > a 
        color: #555
        width: 100%
        text-indent: 15px


// Bottom slide navigation
.fullPage-slidesNav
  position: absolute
  z-index: 4
  left: 50%
  opacity: 1
  &.bottom
    bottom: 0
  &.top
    top: 17px
  ul
    margin: 0
    padding: 0
    li
      display: block
      width: 30px
      height: 40px
      margin: 0
      position: relative
      display: inline-block
      a
        display: block
        position: relative
        z-index: 1
        width: 100%
        height: 100%
        cursor: pointer
        text-decoration: none
        span
          top: 50%
          margin-top: -4px
          left: 50%
          margin-left: -4px
          width: 5px
          height: 5px
          background: $oj_light_grey
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          position: absolute
          z-index: 1
          +transition-property(all)
          +transition-duration(.1s)
          +transition-timing-function(cubic-bezier(0.94, 0.06, 0.50, 0.95))

        &.active span, &.active:hover span
          background: $oj_blue
          +scale(1.5)
        &.active:hover span
          background-color: darken($oj_blue, 5%)
        &:hover span
          background: $oj_grey
          +scale(1.5)

// Directional arrows on both sides
.controlArrow
  width: 20px
  height: 20px
  border: 1px solid transparent
  border-bottom-color: $oj_grey
  border-left-color: $oj_grey
  position: absolute
  bottom: 20px
  cursor: pointer

  &.prev
    +rotate(45deg)
    left: 20px
  &.next
    +rotate(-135deg)
    right: 20px