
#main_header
  .inner_main_header
    %a.logo_anchor.left.bio_logo{"href" => "/#firstPage"} 
      %span Omar Jalalzada's Portfolio

.main_bio_container
  .inner_container
    .animation_base
      .content_holder
        .main_paragraph
          %h1
            Hi there, I'm Omar Jalalzada, a product designer based in San Francisco. I place the human in the center of my design approach and fit everything else around it. 

        .social_media_links
          .sm_inner
            .sm_link.dribble
            .sm_link.animate_seq_1.linkedin
            .sm_link.animate_seq_2.twitter
            .sm_link.animate_seq_3.email
            .sm_link.animate_seq_4.vsco