
#main_header
  .inner_main_header
    %a.logo_anchor.left{"href" => "/#firstPage"} 
      %span Omar Jalalzada's Portfolio

.main_bio_container
  .main_paragraph
    %h1
      Hi, I'm Omar Jalalzada, Lead UI Designer at Tigerspike. Working with brands like SFMOMA, AFV, Macys and Bloomindales, Kaiser and other fortune 500 companies. 