%article.slide.slide_1
  .inner_slide_container
    .main_bio_container
      .bio_content_holder
        .main_paragraph.animate_fade_base.animate_fade_right
          .mobile_logo
          %h1
            %span.intro
              Hi, my name is 
              %b Omar Jalalzada 
              and I'm a product designer based in San Francisco, CA. 
            %span.spiel
              To me, design is a process that makes sense of things in the best possible way. blah blah blah blah, trust me, i'm good at this shit. Placing the human in the center of this process elevates the right solutions in all contexts.
            %span.mobile_spiel
              If you want to see my design work, please visit this site through a tablet/desktop browser.
        .social_media_links
          .sm_inner
            %a.sm_link.animate_fade_base.animate_fade_right.portfolio{"href"=>"#iOS_App_Macys", "title"=>"Portfolio"}
              .icon
              .text Portfolio
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_1{"href"=>"https://dribbble.com/omar___oj", "title"=>"Dribbble Profile", "target"=>"_blank"}
              .icon.dribbble
              .text Dribbble
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_2{"href"=>"http://www.linkedin.com/in/omarjalalzada", "title"=>"Linkedin Profile", "target"=>"_blank"}
              .icon.linkedin
              .text Linkedin
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_3{"href"=>"https://twitter.com/omar___oj", "title"=>"Twitter Profile", "target"=>"_blank"}
              .icon.twitter
              .text @omar___oj
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_4{"href"=>"http://omarj.vsco.co/", "title"=>"VSCO Gallery", "target"=>"_blank"}
              .icon.vsco
              .text VSCO Gallery