%article.slide.slide_1
  .inner_slide_container
    .main_bio_container
      .bio_content_holder
        .main_paragraph.animate_fade_base.animate_fade_right
          .mobile_logo
          %h1
            %span.intro
              Hi, my name is 
              %b Omar Jalalzada 
              and I'm a product designer based in San Francisco, CA. 
            %span.spiel
              I practice a design process that makes better sense of things. Making things more human and relatable by focusing on the end user. 
            %span.spiel
              I'm currently looking for new opportunities and if you're trying to solve a meaningful problem, lets chat.
            %span.mobile_spiel
              Mobile optimization of this site is still in progress. In order to browse my portolio visit this link on a desktop or tablet browser.
              %br

        .social_media_links
          .sm_inner
            %a.sm_link.animate_fade_base.animate_fade_right.portfolio{"href"=>"#iOS_App_Macys", "title"=>"Portfolio"}
              .icon
              .text Portfolio
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_1{"href"=>"https://dribbble.com/omar___oj", "title"=>"Dribbble Profile", "target"=>"_blank"}
              .icon.dribbble
              .text Dribbble
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_2{"href"=>"http://www.linkedin.com/in/omarjalalzada", "title"=>"Linkedin Profile", "target"=>"_blank"}
              .icon.linkedin
              .text Linkedin
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_5{"href"=>"https://medium.com/@omar_oj", "title"=>"Writings on Medium", "target"=>"_blank"}
              .icon.medium
              .text Medium              
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_3{"href"=>"https://twitter.com/omar___oj", "title"=>"Twitter Profile", "target"=>"_blank"}
              .icon.twitter
              .text @omar___oj
            %a.sm_link.animate_fade_base.animate_fade_right.animate_seq_4{"href"=>"http://omarj.vsco.co/", "title"=>"VSCO Gallery", "target"=>"_blank"}
              .icon.vsco
              .text VSCO Gallery
