---
title: The Mobile Suitcase
body_class: index
---

/ = partial "partials/navigation"

#fullpage
  %section.section.project_0{"data-menuanchor" => "oj_bio", "class" => "active"} 
    = partial "projects/bio"
    
    // Mcom & Bcom
    %article.slide.slide_2
      .inner_slide_container
        .m_sec
          .s_intro
            .text_p
              %span.c_1.label
                %span.icon.project_icon
                %span.label_text About the project:
              %span.body_text
                A three week design sprint to re-imagine key functionalities of 
                %b Macys & Bloomingdale’s 
                iPhone apps in a pre-purchase, in-store and post purchase scenarios. 
        .m_sec.main_thumb
        .m_sec
          .s_intro
            .text_p 
              %span.c_2.label
                %span.icon.role_icon
                %span.label_text My Role:
              %span.body_text
                As a product designer I worked with the Tigerspike team to explore a multitude of opportunities in the mobile retail context. Through user-testing and stakeholder interviews we designed user stories and delivered it through high-fidelity working prototypes. For this project, I mainly utilized Illustrator, Photoshop, Invision and HTML5, CSS3 with Middleman.

        .m_sec.process
          .p_header
            The Process
          .thumb_base.thumb1
            .image
            .title 1) Understand & Relate 
          .thumb_base.thumb2
            .image
            .title 2) Research & Analyze
          .thumb_base.thumb3
            .image
            .title 3) Prototype & Iterate

        .m_sec.mobile_screen.mcom
          .p_header
            Macy's iOS App
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image
        .m_sec.mobile_screen.bcom
          .p_header
            Bloomindales iOS App
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image


    // arc
    %article.slide.slide_3
      .inner_slide_container
        .m_sec
          .s_intro
            .text_p
              %span.c_1.label
                %span.icon.project_icon
                %span.label_text About the project:
              %span.body_text
                The Innovation and Research group at
                %b Al Jazeera 
                wanted to challenge storytellers, developers, and designers to come up with the most innovative nonlinear storytelling application. 
        .m_sec.main_thumb
        .m_sec
          .s_intro
            .text_p 
              %span.c_2.label
                %span.icon.role_icon
                %span.label_text My Role:
              %span.body_text
                In response, I created Arc. Its built on the principle that each narrative should have complementary stories that focus entirely on the humans involved or impacted by the main narrative. Further, it enables nonlinear storytelling to interweave these stories and create a truly compelling read.
                %br
                %br
                We won the 
                %a{"href"=>"http://aljazeera.challengepost.com/updates/1966-announcing-the-winners-of-the-al-jazeera-innovation-challenge", "target"=>"_blank"}second prize.

        .m_sec.mobile_screen
          .p_header
            Arc's iOS App
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image
          .thumb_base.thumb5
            .image
          .thumb_base.thumb6
            .image
          .thumb_base.thumb7
            .image
          .thumb_base.thumb8
            .image


    // sfmoma
    %article.slide.slide_4
      .inner_slide_container
        .m_sec
          .s_intro
            .text_p
              %span.c_1.label
                %span.icon.project_icon
                %span.label_text About the project:
              %span.body_text
                Create an adaptive micro-site to describe and celebrate the new 
                %b San Francisco Museum Of Modern Art. 
                It should translate and highlight particular elements within the museum's transformational story and take the user on a digital journey.
        .m_sec.main_thumb
        .m_sec
          .s_intro
            .text_p 
              %span.c_2.label
                %span.icon.role_icon
                %span.label_text My Role:
              %span.body_text
                As the lead product designer, I collaborated with the Head of Digital and Art Director from SFMOMA. After the initial product and market research phase, I created the IA, wireframes and prototyped multiple art directions with After Effect and Invision. Later on I used Illustrator and Sketch to wrap it up.

        .m_sec.process
          .p_header
            The Process
          .thumb_base.thumb1
            .image
            .title Information Architicture
          .thumb_base.thumb2
            .image
            .title Wireframing & Prototypes
          .thumb_base.thumb3
            .image
            .title Design Guidelines=

        .m_sec.ipad_screen
          .p_header
            future.SFMOMA
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image
          .thumb_base.thumb5
            .image
          .thumb_base.thumb6


    // afv
    %article.slide.slide_5
      .inner_slide_container
        .m_sec
          .s_intro
            .text_p
              %span.c_1.label
                %span.icon.project_icon
                %span.label_text About the project:
              %span.body_text
                The No. 1 “family co-viewing” show on any broadcast network,
                %b America's Funniest Home Videos
                wanted to overhaul their existing Android application, increase engagement and drive more uploads.
        .m_sec.main_thumb
        .m_sec
          .s_intro
            .text_p 
              %span.c_2.label
                %span.icon.role_icon
                %span.label_text My Role:
              %span.body_text
                As the lead product designer in the project, I worked with the Tigerspike team to strip down the app to its core functionalities and advocate for a better experience that will be enhanced incremintelly as the legacy systems at the back-end ramp up to a better standard. 

        .m_sec.process
          .p_header
            The Process
          .thumb_base.thumb1
            .image
            .title Wireframes
          .thumb_base.thumb2
            .image
            .title App Guideline

        .m_sec.mobile_screen
          .p_header
            AFV's Android App
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image
          .thumb_base.thumb5
            .image
          .thumb_base.thumb6
            .image

    // moovweb
    %article.slide.slide_6
      .inner_slide_container
        .m_sec
          .s_intro
            .text_p
              %span.c_1.label
                %span.icon.project_icon
                %span.label_text About the project:
              %span.body_text
                I was the 7th employee at
                %b Moovweb
                for about 2.5 years. Being part of a rapidly growing startup that scaled to 120 employees and closed two successful rounds of investment was a humbling experience.
        .m_sec.main_thumb
        .m_sec
          .s_intro
            .text_p 
              %span.c_2.label
                %span.icon.role_icon
                %span.label_text My Role:
              %span.body_text
                I wore many hats at Moovweb. Started off as a Mobile Web Developer but promoted to Lead Mobile Developer a year later. Soon after I was the Interactive Designer with the brand and marketing team which led me to the Creative Director role to take ownership of the brand. 

        .m_sec.ipad_screen
          .p_header
            Moovweb Branding Guideline
          .thumb_base.thumb1
            .image
          .thumb_base.thumb2
            .image
          .thumb_base.thumb3
            .image
          .thumb_base.thumb4
            .image
          .thumb_base.thumb5
            .image
          .thumb_base.thumb6

        .m_sec.ipad_screen
          .p_header
            Web & Mobile Design
          .thumb_base.thumb7
            .image
          .thumb_base.thumb8
            .image
          .thumb_base.thumb9
            .image
          .thumb_base.thumb10
            .image
          .thumb_base.thumb11
            .image
          .thumb_base.thumb12

