%article.slide.slide_1
  .inner_slide_container
    .portfolio_links_container
      .row_1
        .portfolio_links.link_bank
        .portfolio_links
        .portfolio_links
      .row_2
        .portfolio_links
        .portfolio_links
        .portfolio_links