.arrow_keys_container
  .arrow_keys_inner_container
    .row.r_1
      .arrow.hide
      .arrow.a_1
        .a_up up
      .arrow.hide
    .row.r_2
      .arrow.a_2
        .a_left left
      .arrow.a_3
        .a_down down
      .arrow.a_4
        .a_right right

    .desc
      Use arrow keys to navigate