%nav.nav_numba_twaaa#main_bottom_nav
  %ul.section_container
    %li.content.bio{"data-menuanchor" => "oj_bio","class" => "active"}
      %a.section_link{"href"=>"#oj_bio"}
        Omar Jalalzada
    %li.seperator
    %li.content.mcom{"data-menuanchor" => "iOS_App_Macys"}
      %a.section_link{"href"=>"#iOS_App_Macys"}
        iOS App | Macys
        %span.inner_c
      %a.slide_link{"href"=>"#iOS_App_Macys/1"}
        %span.sub_c
      %a.slide_link{"href"=>"#iOS_App_Macys/2"}
        %span.sub_c
      %a.slide_link{"href"=>"#iOS_App_Macys/3"}
        %span.sub_c
      %a.slide_link{"href"=>"#iOS_App_Macys/4"}
        %span.sub_c
      %a.slide_link{"href"=>"#iOS_App_Macys/5"}
        %span.sub_c
    %li.seperator
    %li.content.sfmoma{"data-menuanchor" => "Adaptive_Site_SFMOMA"} 
      %a.section_link{"href"=>"#Adaptive_Site_SFMOMA"}
        Adaptive Site | SFMOMA
        %span.inner_c
      %a.slide_link{"href"=>"#Adaptive_Site_SFMOMA/1"}
        %span.sub_c
      %a.slide_link{"href"=>"#Adaptive_Site_SFMOMA/2"}
        %span.sub_c
      %a.slide_link{"href"=>"#Adaptive_Site_SFMOMA/3"}
        %span.sub_c
      %a.slide_link{"href"=>"#Adaptive_Site_SFMOMA/4"}
        %span.sub_c
      %a.slide_link{"href"=>"#Adaptive_Site_SFMOMA/5"}
        %span.sub_c
    %li.seperator
    %li.content.afv{"data-menuanchor" => "Andriod_App_AFV"} 
      %a.section_link{"href"=>"#Andriod_App_AFV"}
        Android App | AFV
        %span.inner_c
      .sub_link_container
        %a.slide_link{"href"=>"#Andriod_App_AFV/1"}
          %span.sub_c
        %a.slide_link.slide_active{"href"=>"#Andriod_App_AFV/2"}
          %span.sub_c
        %a.slide_link{"href"=>"#Andriod_App_AFV/3"}
          %span.sub_c
        %a.slide_link{"href"=>"#Andriod_App_AFV/4"}
          %span.sub_c
        %a.slide_link{"href"=>"#Andriod_App_AFV/5"}
          %span.sub_c
    %li.seperator
    %li.content.moovweb{"data-menuanchor" => "Branding_Moovweb"} 
      %a.section_link{"href"=>"#Branding_Moovweb"} 
        Branding | Moovweb
        %span.inner_c
      .sub_link_container
        %a.slide_link{"href"=>"#Branding_Moovweb/1"}
          %span.sub_c
        %a.slide_link{"href"=>"#Branding_Moovweb/2"}
          %span.sub_c
        %a.slide_link{"href"=>"#Branding_Moovweb/3"}
          %span.sub_c
        %a.slide_link{"href"=>"#Branding_Moovweb/4"}
          %span.sub_c
    %li.seperator
    %li.content.arc{"data-menuanchor" => "Arc_Al_Jazeera_Hackathon"} 
      %a.section_link{"href"=>"#Arc_Al_Jazeera_Hackathon"}
        Al Jazeera Hackathon | Arc
        %span.inner_c
      .sub_link_container
        %a.slide_link{"href"=>"#Arc_Al_Jazeera_Hackathon/1"}
          %span.sub_c
        %a.slide_link{"href"=>"#Arc_Al_Jazeera_Hackathon/2"}
          %span.sub_c
        %a.slide_link{"href"=>"#Arc_Al_Jazeera_Hackathon/3"}
          %span.sub_c
        %a.slide_link{"href"=>"#Arc_Al_Jazeera_Hackathon/4"}
          %span.sub_c