%ul#main_section_nav

  %li{"data-menuanchor" => "firstPage", "class" => "active"} 
    %a{"href"=>"#firstPage"} 1

  %li{"data-menuanchor" => "secondPage"} 
    %a{"href"=>"#secondPage"} 2

  %li{"data-menuanchor" => "thirdPage"} 
    %a{"href"=>"#thirdPage"} 3

  %li{"data-menuanchor" => "fourthPage"} 
    %a{"href"=>"#fourthPage"} 4

  %li{"data-menuanchor" => "lastPage"} 
    %a{"href"=>"#lastPage"} 5

