/ %ul#main_section_nav
/   %li.first_project{"data-menuanchor" => "firstPage", "class" => "active"} 
/     %a{"href"=>"#firstPage"} iOS App | Macys

/   %li.second_project{"data-menuanchor" => "secondPage"} 
/     %a{"href"=>"#secondPage"} Adaptive Site | SFMOMA

/   %li.third_project{"data-menuanchor" => "thirdPage"} 
/     %a{"href"=>"#thirdPage"} Andriod App | AFV

/   %li.4_project{"data-menuanchor" => "fourthPage"} 
/     %a{"href"=>"#fourthPage"} Branding | Moovweb

/   / %li.5_project{"data-menuanchor" => "lastPage"} 
/   /   %a{"href"=>"#lastPage"} Personal Projects

%ul#main_bottom_nav
  %li.project_0.first_link{"data-menuanchor" => "oj_bio","class" => "active"} 
    %a.section_link_container_bio{"href"=>"#oj_bio"} Bio
    / .slide_link_containers
    /   %span.bracket
    / first_link

  %li.project_1{"data-menuanchor" => "iOS_App_Macys"} 
    %a.section_link_container{"href"=>"#iOS_App_Macys"} iOS App | Macys
    .slide_link_containers
      %a{"href"=>"#iOS_App_Macys/1"}
        %span
      %a{"href"=>"#iOS_App_Macys/2"}
        %span
      %a{"href"=>"#iOS_App_Macys/3"}
        %span
      %a{"href"=>"#iOS_App_Macys/4"}
        %span
      %a{"href"=>"#iOS_App_Macys/5"}
        %span
      %span.bracket


  %li.project_2{"data-menuanchor" => "Adaptive_Site_SFMOMA"} 
    %a.section_link_container{"href"=>"#Adaptive_Site_SFMOMA"} Adaptive Site | SFMOMA
    .slide_link_containers
      %a{"href"=>"#Adaptive_Site_SFMOMA/1"}
        %span
      %a{"href"=>"#Adaptive_Site_SFMOMA/2"}
        %span
      %a{"href"=>"#Adaptive_Site_SFMOMA/3"}
        %span
      %a{"href"=>"#Adaptive_Site_SFMOMA/4"}
        %span
      %a{"href"=>"#Adaptive_Site_SFMOMA/5"}
        %span
      %span.bracket

  %li.project_3{"data-menuanchor" => "Andriod_App_AFV"} 
    %a.section_link_container{"href"=>"#Andriod_App_AFV"} Andriod App | AFV
    .slide_link_containers
      %a{"href"=>"#Andriod_App_AFV/1"}
        %span
      %a{"href"=>"#Andriod_App_AFV/2"}
        %span
      %a{"href"=>"#Andriod_App_AFV/3"}
        %span
      %a{"href"=>"#Andriod_App_AFV/4"}
        %span
      %a{"href"=>"#Andriod_App_AFV/5"}
        %span
      %span.bracket

  %li.project_4{"data-menuanchor" => "Branding_Moovweb"} 
    %a.section_link_container{"href"=>"#Branding_Moovweb"} Branding | Moovweb
    .slide_link_containers
      %a{"href"=>"#Branding_Moovweb/1"}
        %span
      %a{"href"=>"#Branding_Moovweb/2"}
        %span
      %a{"href"=>"#Branding_Moovweb/3"}
        %span
      %a{"href"=>"#Branding_Moovweb/4"}
        %span
      %span.bracket


  %li.project_5{"data-menuanchor" => "Arc_Al_Jazeera_Hackathon"} 
    %a.section_link_container{"href"=>"#Arc_Al_Jazeera_Hackathon"} Arc | Al-Jazeera Hackathon
    .slide_link_containers
      %a{"href"=>"#Arc_Al_Jazeera_Hackathon/1"}
        %span
      %a{"href"=>"#Arc_Al_Jazeera_Hackathon/2"}
        %span
      %a{"href"=>"#Arc_Al_Jazeera_Hackathon/3"}
        %span
      %a{"href"=>"#Arc_Al_Jazeera_Hackathon/4"}
        %span
      / %span.bracket

  / %li.5_project{"data-menuanchor" => "lastPage"} 
  /   %a{"href"=>"#lastPage"} Personal Projects

