%ul#main_section_nav

  %li{"data-menuanchor" => "firstPage", "class" => "active"} 
    %a{"href"=>"#firstPage"} Building Section

  %li{"data-menuanchor" => "secondPage"} 
    %a{"href"=>"#secondPage"} Art Section

  %li{"data-menuanchor" => "thirdPage"} 
    %a{"href"=>"#thirdPage"} Education Section

  %li{"data-menuanchor" => "fourthPage"} 
    %a{"href"=>"#fourthPage"} Experience Section

  %li{"data-menuanchor" => "lastPage"} 
    %a{"href"=>"#lastPage"} Get Involved Section

