%ul#main_section_nav
  %li.first_project{"data-menuanchor" => "firstPage", "class" => "active"} 
    %a{"href"=>"#firstPage"} Macys & Bloomindales iOS App

  %li.second_project{"data-menuanchor" => "secondPage"} 
    %a{"href"=>"#secondPage"} SFMOMA Adaptive Microsite

  %li.third_project{"data-menuanchor" => "thirdPage"} 
    %a{"href"=>"#thirdPage"} Americas Funniest Videos Andriod App

  %li.4_project{"data-menuanchor" => "fourthPage"} 
    %a{"href"=>"#fourthPage"} Moovweb

  / %li.5_project{"data-menuanchor" => "lastPage"} 
  /   %a{"href"=>"#lastPage"} Personal Projects

