body
  min-width: 100px !important
  padding: 0 !important
  margin: 0 !important
  .fp-slidesNav
    position: absolute
    z-index: 4
    left: 50%
    opacity: 1
    height: 40px
    &.bottom
      bottom: 0px
    &.top
      top: 0px
  #fp-nav 
    position: fixed
    z-index: 100
    margin-top: -32px
    top: 50%
    opacity: 1
    width: 40px
    &.right
      right: 0px
    &.left
      left: 0px

  #fp-nav, .fp-slidesNav
    ul
      margin: 0
      padding: 0
      li
        width: 40px
        height: 40px
        a
          display: block
          position: relative
          z-index: 1
          width: 20px
          height: 20px
          padding: 10px
          cursor: pointer
          text-decoration: none
          span 
            display: block
            width: 100%
            height: 100%
            background: rgba(50, 50, 50, .2)
            +scale(.4)
            +border-radius(50%)
            +single-transition(all, .3s, $custom_ease)
          &.active
            span
              background: $oj_blue
              +scale(.8)

  .fp-slidesNav 
    background-color: rgba( 0, 0, 0, .2)
    margin-bottom: 10px
    +border-radius(25px)
    // border: 1px solid red !important
    width: 244px
    ul li
      display: inline-block


#fullpage
  .project_0

    // General
    .inner_slide_container
      padding-bottom: 0 !important
    
    .margin_bottom_20px
      margin-bottom: 20px
    
    // Intro
    .s_intro
      .label
        // font-size: 80%
        font-weight: bold
        display: block
        text-transform: uppercase
        color: rgba(120, 120, 120, 1)
        overflow: hidden
        opacity: .7
        span.icon
          display: block
          width: 18px
          height: 16px
          float: left
          margin-right: 5px
          +background-image(image-url("ui_elements/cover_page_icons.png"))
          background-repeat: no-repeat
          background-size: 72px 16px 
          // opacity: .8
          // &.project_icon
          &.role_icon
            background-position-x: -18px
          &.conclusion_icon
            background-position-x: -36px
          &.learnings_icon
            background-position-x: -54px
      .body_text
        font-size: 130%
        line-height: 1.6
        font-weight: 100
        color: #555
        b 
          font-weight: bold
        a
          color: lighten($oj_blue, 15%)

    // headers
    .p_header
      border-bottom: 1px solid rgba(200, 200, 200, 0.3)
      font-size: 140%
      color: white
      padding-bottom: 5px
      font-weight: bold
      margin-bottom: 20px
      text-align: center


    // sections
    .m_sec
      display: block
      padding: 40px
      .thumb_base
        position: relative
        overflow: hidden
        width: 100%
        margin-bottom: 20px
        .image
          position: absolute
          left: 50%
          background-repeat: no-repeat
          background-size: 100%         
          background-position: center 
        .title
          font-weight: bold
          z-index: 1000
          color: #fff
          font-size: 120%
          width: 100%
          position: absolute
          bottom: 0
          text-align: center
          margin-top: 10px
      // sections -> process
      &.process
        border: 1px solid transparent
        overflow: hidden
        background-color: darken($oj_dark_grey, 10%)
        .thumb_base
          height: 290px
          .image
            height: 250px
            width: 250px
            margin-left: -125px
      // sections -> mobile screens
      &.mobile_screen
        border: 1px solid transparent
        overflow: hidden
        background-color: $oj_blue
        .thumb_base
          width: 240px
          height: 510px
          border: 1px solid lighten($oj_blue, 12%)
          +border-radius(30px)
          margin: 40px auto
          .image
            margin: 50px 10px 0 -110px !important
            height: 380px
            width: 220px
            background-repeat: no-repeat
            background-size: 100%
            background-position: top center
            border: 2px solid darken($oj_blue, 5%)
            +border-radius(3px)

      &.ipad_screen
        border: 1px solid transparent
        overflow: hidden
        background-color: $oj_blue
        .thumb_base
          width: 310px
          height: 230px
          +border-radius(8px)
          margin: 40px auto

    // main_view
    .slide_1
      background-color: $oj_red
      .main_bio_container
        padding: 40px 40px 0 40px
        .bio_content_holder
          .main_paragraph
            .mobile_logo
              width: 30px
              height: 30px
              +border-radius(50%)
              margin-bottom: 40px
              +background-image(image-url("ui_elements/social_bio_icons.png"))
              background-repeat: no-repeat
              background-size: 180px 30px
            span
              display: block
              color: #fff
              margin-bottom: 40px
              font-size: 120%
              font-weight: 300 
              max-width: 280px
              &.spiel
                display: none
      .social_media_links
        margin-top: 0
        +single-transition(all, .2s, $custom_ease, 1s)
        .sm_inner
          .sm_link
            width: 100%
            height: 30px
            +border-radius(30px)
            padding: 5px 0
            margin-bottom: 20px
            display: block
            color: #fff
            font-weight: bold
            line-height: 2.2
            +box-shadow(0 0 0 1px rgba(255,255,255,.4))
            +background-image(none)
            &.portfolio
              display: none
            .text
              text-indent: 5px
            &:hover 
              background-color: rgba(255,255,255,.4)
              +box-shadow(0 2px 1px rgba(0,0,0,.2))
            .icon
              +background-image(image-url("ui_elements/social_bio_icons.png"))
              background-repeat: no-repeat
              background-size: 180px 30px
              width: 30px
              height: 30px
              float: left
              margin-left: 5px
              &.dribbble
                background-position-x: -30px
              &.linkedin
                background-position-x: -60px
              &.twitter
                background-position-x: -90px
              &.vsco
                background-position-x: -120px
              &.medium
                background-position-x: -150px

    // Macys
    .slide_2
      // background-color: darken($oj_dark_grey, 20%)
      .main_thumb
        width: 230px
        height: 550px
        margin: auto
        +background-image(image-url("mcom_bcom/main/iphone_6_main.png"))
        background-repeat: no-repeat
        background-size: 100%
        padding: 0
      .process
        .thumb_base
          &.thumb1
            .image
              +background-image(image-url("mcom_bcom/3_1_image_circle.png"))
          &.thumb2
            .image
              +background-image(image-url("mcom_bcom/3_2_image_circle.png"))
          &.thumb3
            .image 
              +background-image(image-url("mcom_bcom/3_3_image_circle.png"))
      .mobile_screen
        // background-color: darken($oj_dark_grey, 30%)
        .p_header
          // color: $oj_dark_grey
          margin-top: 40px
        &.mcom
          .thumb1
            .image
              +background-image(image-url("mcom_bcom/5_1_macys_homepage.jpg"))
          .thumb2
            .image
              +background-image(image-url("mcom_bcom/5_2_macys_category_list.jpg"))
          .thumb3
            .image 
              +background-image(image-url("mcom_bcom/5_3_macys_product_list.jpg"))
          .thumb4
            .image 
              +background-image(image-url("mcom_bcom/5_4_macys_product_display.jpg"))
        &.bcom
          .thumb1
            .image
              +background-image(image-url("mcom_bcom/4_1_bloomindales_homepage.jpg"))
          .thumb2
            .image
              +background-image(image-url("mcom_bcom/4_2_bloomindales_look.jpg"))
          .thumb3
            .image 
              +background-image(image-url("mcom_bcom/4_3_bloomindales_look.jpg"))
          .thumb4
            .image 
              +background-image(image-url("mcom_bcom/4_4_bloomindales_inside_look.jpg"))

    // arc
    .slide_3
      .main_thumb
        width: 308px
        height: 500px
        margin: auto
        +background-image(image-url("arc/main_arc_phone.png"))
        background-repeat: no-repeat
        background-size: 100%
        padding: 0
      .mobile_screen
        // .thumb_base
        //   border: 1px solid lighten($oj_blue, 12%)
        //   .image
            
        .thumb1 .image
          +background-image(image-url("arc/screens/home_stroy_block.jpg"))
        .thumb2 .image
          +background-image(image-url("arc/screens/home_condensed.jpg"))
        .thumb3 .image
          +background-image(image-url("arc/screens/nav.jpg"))
        .thumb4 .image
          +background-image(image-url("arc/screens/profile_page.jpg"))
        .thumb5 .image
          +background-image(image-url("arc/screens/story_cover.jpg"))
        .thumb6 .image
          +background-image(image-url("arc/screens/rcc.jpg"))
        .thumb7 .image
          +background-image(image-url("arc/screens/story_interactive_map.jpg"))
        .thumb8 .image
          +background-image(image-url("arc/screens/story_comments.jpg"))
    
    //sfmoma
    .slide_4
      .main_thumb
        width: 310px
        height: 220px
        margin: auto
        +background-image(image-url("sfmoma/main/ipad.png"))
        background-repeat: no-repeat
        background-size: 100%
        padding: 0
      .process
        background-color: darken($oj_dark_grey, 10%)
        .thumb_base
          .image
            +border-radius(50%)
          &.thumb1
            .image
              +background-image(image-url("sfmoma/slide_3_c1.png"))
          &.thumb2
            .image
              +background-image(image-url("sfmoma/slide_3_c2.png"))
          &.thumb3
            .image 
              +background-image(image-url("sfmoma/slide_3_c3.png"))

      .ipad_screen
        // background-color: $oj_blue
        padding: 0
        .p_header
          margin: 40px
        .thumb_base
          background-repeat: no-repeat
          background-size: 100%
          background-position: top center
          
        .thumb1
          +background-image(image-url("sfmoma/designs/1_homepage.jpg"))
        .thumb2
          +background-image(image-url("sfmoma/designs/2_building_landing.jpg"))
        .thumb3
          +background-image(image-url("sfmoma/designs/3_building_inside.jpg"))
        .thumb4
          +background-image(image-url("sfmoma/designs/4_building_inside_navopen.jpg"))
        .thumb5
          +background-image(image-url("sfmoma/designs/5_building_inside_galleryopen.jpg"))
        .thumb6
          +background-image(image-url("sfmoma/designs/6_get_involved.jpg"))

    // afv
    .slide_5
      // background-color: darken($oj_dark_grey, 20%)
      .main_thumb
        width: 280px
        height: 470px
        margin: auto
        +background-image(image-url("afv/afv_home.png"))
        background-repeat: no-repeat
        background-size: 100%
        padding: 0
        // padding-bottom: 40px
      .process
        // background-color: darken($oj_dark_grey, 10%)
        .thumb_base
          .image
            +border-radius(50%)
            height: 248px
          &.thumb1
            .image
              +background-image(image-url("afv/process/c1.png"))
          &.thumb2
            .image
              +background-image(image-url("afv/process/c2.png"))
      .mobile_screen
        // background-color: darken($oj_dark_grey, 30%)
        .thumb_base
          height: 480px
        .p_header
          // color: $oj_dark_grey
          margin-top: 40px
        .thumb1 .image
          +background-image(image-url("afv/screens/0_1_onboarding.png"))
        .thumb2 .image
          +background-image(image-url("afv/screens/1_0_browse.png"))
        .thumb3 .image
          +background-image(image-url("afv/screens/1_1_browse_nav.png"))
        .thumb4 .image
          +background-image(image-url("afv/screens/3_0_kid_mode_settings.png"))
        .thumb5 .image
          +background-image(image-url("afv/screens/7_0_Upload.png"))
        .thumb6 .image
          +background-image(image-url("afv/screens/2_0_player.png"))

    // Moovweb
    .slide_6
      .main_thumb
        width: 320px
        height: 180px
        margin: auto
        +background-image(image-url("moovweb/main_moovweb_site.png"))
        background-repeat: no-repeat
        background-size: 100%
        padding: 0
      .ipad_screen
        // background-color: $oj_blue
        padding: 0
        .p_header
          margin: 40px
        .thumb_base
          background-repeat: no-repeat
          background-size: 100%
          background-position: top center
          border: 2px solid darken($oj_blue, 5%)
          width: 310px
          height: 200px
        .thumb1
          +background-image(image-url("moovweb/brand/brand_thumb.png"))
        .thumb2
          +background-image(image-url("moovweb/brand/colors.png"))
        .thumb3
          +background-image(image-url("moovweb/brand/iconography.png"))
        .thumb4
          +background-image(image-url("moovweb/brand/iconography_2.png"))
        .thumb5
          +background-image(image-url("moovweb/brand/typography.png"))
        .thumb6
          +background-image(image-url("moovweb/brand/notifications.png"))

        .thumb7
          +background-image(image-url("moovweb/corp_site/corporate_site_thumb.jpg"))
        .thumb8
          +background-image(image-url("moovweb/corp_site/pricing.jpg"))
        .thumb9
          +background-image(image-url("moovweb/corp_site/case_studies.jpg"))
        .thumb10
          +background-image(image-url("moovweb/corp_site/partners.jpg"))
        .thumb11
          +background-image(image-url("moovweb/corp_site/product_page.jpg"))
        .thumb12
          +background-image(image-url("moovweb/corp_site/blog_0.jpg"))
