---
title: Middleman is Watching
body_class: index
---

= partial "partials/navigation"
#fullpage

  .section{"data-menuanchor" => "firstPage", "class" => "active"} 
    .slide
      %h1 section header - p1
    .slide p1_slide2
    .slide p1_slide3
    .slide p1_slide4
    .slide p1_slide5
    
  
  .section{"data-menuanchor" => "secondPage"} 
    .slide
      %h1 section header - p2
    .slide p2_slide2
    .slide p2_slide3
    .slide p2_slide4

  .section{"data-menuanchor" => "thirdPage"} 
    .slide
      %h1 section header - p3
    .slide p3_slide2
    .slide p3_slide3
    .slide p3_slide4
    .slide p3_slide5
    .slide p3_slide6

  .section{"data-menuanchor" => "fourthPage"} 
    .slide
      %h1 section header - p4
    .slide p4_slide2
    .slide p4_slide3
  

  .section{"data-menuanchor" => "lastPage"} 
    .slide
      %h1 section header - p5
    .slide p5_slide2
    .slide p5_slide3
    .slide p5_slide4
    .slide p5_slide5
    .slide p5_slide6
    .slide p5_slide7




/ .welcome
/ %h1 Full page scroll
/ %p.doc
/   = link_to 'Read Online Documentation', 'http://middlemanapp.com/', title: 'Read Online Documentation', target: '_blank'